header.header
    .header__column
        a(href=routes.home) 
            h3.header__title-first DEOP
            h3.header__title-last BAB
            i.fas.fa-utensils
    .header__column
            form(action=routes.search, method="get")
                input(type="text", name="search", placeholder="Search") 
                i.fas.fa-search
    .header__column
        ul
            li 
                a(href=routes.join) JOIN
            li  
                a(href=routes.login) LOGIN 
            li  
                a(href=`/res${routes.resUpload}`) UPLOAD
            li
                a(href=routes.userDetail(1)) PROFILE  
            li 
                a(href=routes.logout) LOGOUT                 