extends ./layouts/main

block content
    .join
        .join-title
            span.header__title-first DEOP
            span.header__title-last BAB
            i.fas.fa-utensils 
        .join-explain
            span 회원가입    
        .form-container
            form(action=routes.join, method="post")
                .form-content
                    i.far.fa-id-badge
                    input(type="text" name="ID" placeholder="ID", required=true)
                .form-content
                    i.fas.fa-user
                    input(type="text" name="name" placeholder="Name", required=true)
                .form-content
                    i.fas.fa-unlock-alt
                    input(type="password" name="password" placeholder="Password", required=true)
                .form-content
                    i.fas.fa-unlock-alt
                    input(type="password" name="password2" placeholder="Verify Password", required=true)
                input.submit-button(type="submit" value="Join Now")