extends ./layouts/main

block content
    .res__detail
        img(src=`/${restaurants.photo}`)
        h3.res-title=restaurants.title
        h3=restaurants.creator.name
        p.res-description=restaurants.description
        if loginUser && loginUser.id === restaurants.creator.id
            a(href=routes.resEdit(restaurants.id)) Edit Restaurant
            a(href=routes.resDelete(restaurants.id)) Delete Restaurant
    .res__comment 
        form#jsAddComment
            input(type="text", name="comment", placeholder="Comment")   
        ul.res__comment-list#jsCommentList    
            each comment in restaurants.comments
                span=comment.text