extends ./layouts/main

block content
    .res-detail
        img(src=`/${restaurants.photo}`)
        h3.res-title=restaurants.title
        h3=restaurants.creator.name
        p.res-description=restaurants.description
        if loginUser && loginUser.id === restaurants.creator.id
            a(href=routes.resEdit(restaurants.id)) Edit Restaurant
            a(href=routes.resDelete(restaurants.id)) Delete Restaurant