extends ./layouts/main

block content
    .user-detail__column
        img(src=`/${user.avatarUrl}`)    
        h4=user.ID
        h4=user.name
    .user-detail__column
        if loginUser && user.id === loginUser.id
            a(href=routes.editProfile(user.id)) Edit Profile    
            a(href=routes.changePassword(user.id)) Change Password
    