mixin resBlock(restaurant={})
    .resBlock
        a(href=routes.resDetail(restaurant.id))
            img(src=restaurant.photo)
            h3.res-title=restaurant.title
            p.res-description=restaurant.description
            h4.res-point=restaurant.point

